body {
  background-color: #c4dcf5;
  font-family: 'Roboto', sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.info-section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

.payTransactionBtn {
  margin-left: 20px;
  background-color: #008cba;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.payTransactionBtn:hover:not(:disabled) {
  background-color: #005f76;
}

.payTransactionBtn:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

#transactionForm {
  display: flex;
  flex-direction: column;
}

#transactionForm label {
  margin-bottom: 5px;
}

#transactionForm input[type="text"],
#transactionForm input[type="number"],
#transactionForm select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

#transactionForm button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#transactionForm button[type="submit"]:hover {
  background-color: #45a049;
}

#owesCheckboxes {
  display: flex;
  flex-wrap: wrap;
}

#owesCheckboxes input[type="checkbox"] {
  margin-right: 5px;
}

#owesCheckboxes label {
  margin-right: 15px;
}

.participants-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.participant-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.participant-name {
  flex-grow: 1;
}

.participant-balance {
  min-width: 100px;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}

.positive {
  background-color: #4caf50;
  color: white;
}

.negative {
  background-color: #f44336;
  color: white;
}

.transaction-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.transaction-card[data-paid="true"] {
   background-color: #bee8ed;
  }

.transaction-card[data-paid="false"] {
  background-color: #e8a4be;
}

.transaction-card:disabled {
  background-color: #bee8ed;
  color: #000000;
  opacity: 0.5;
}

.paid-transaction {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.unpaid-transaction {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.transaction-details {
  flex: 3;
}

.transaction-amount {
  flex: 1;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.paid-transaction .transaction-details::before {
  content: "\2714";
  color: #155724;
  font-size: 24px;
  margin-right: 10px;
}

.unpaid-transaction .transaction-details::before {
  content: "\2716";
  color: #721c24;
  font-size: 24px;
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}

.notification {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.notification.show {
  display: block;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
